@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100&display=swap');

:root {
	--blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
* {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
html,
body {
	margin: 0 auto;
}
li.
p {
	var (--main-color);
}

/*стили, применяемые по всему сайту, в т.ч шрифты и карточки*/
.container {
    max-width: 1170px;
	  margin: 0 auto;
    padding: 0 auto;
}
.logo-name-style {
  display: block;
	color: var(--gray-dark);
	font-family: Roboto, sans-serif;
	font-size: 2.625rem;
	font-style: bold;
	font-weight: 1000;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 2rem;
}
.head-text-style {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 4rem;
    padding-bottom: 2rem;
    line-height: 5rem;
    font-weight: 1000;
    font-style: bold;
    text-transform: uppercase;
}
.section-title-style {
    line-height: 1.5;
    color: var(--dark);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
}
.section-about-title-style {
  line-height: 1.5;
  color: var(--dark);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.paragraph-text-style {
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
    padding-bottom: 2rem;
}
.cardname-text-style {
    font-size: 20px;
    padding:  0 1.5rem;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: var(--white);
}
.desription-block-style {
    display: block;
    width: 80%;
    padding: 1.5rem;
    line-height: 1.4;
    color: var(--white);
}
.text-container {
  width: 40%;
  padding-top: 60px;
  padding-right: 150px;
}

/*стили применяемые к разделам*/
header {
	position: fixed;
	z-index: 5;
	width: 100%;
  margin: auto;
	background-color: var(--white);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem 0 3.4375rem;
}

.header .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-menu li {
    list-style-type: none;
    margin-right: 20px;

}
.header li a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0, 18px;
    color: var(--grey-dark);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
}
.header li a:hover {
    /* border-bottom: 0.4rem solid var(--indigo); */
    background-color: var(--purple);
    color: var(--white);
    transition: 500ms;
    border-radius: 0.5rem;
    /* transform: scale(1.25); */
    font-size: 1.1rem;
}

.hero {
  background-color: var(--indigo);
  background-image: url(img/banner-bg.jpg);
	background-position: 50%, 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.hero .container {
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero .container .text-container{
    padding-top: 300px;
    padding-bottom: 300px;
}
.hero .text-container .paragraph-text-style {
  font-size: 1.6rem;
  line-height: 1.4;
}
.hero .container .svg-container {
    width: 500px;
    height: 614px;
    padding-top: 6.1rem;
}
.image-anim {
  animation-name: move;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(-50px);
  }
}
.about-us {
    background-color: var(--light);
}
.about-us .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 0;
}
.about-us img {
    display: inline-block;
    width: 585px;
    height: 607px;
}
.about-us .text-container p {
  margin-top: 1.5rem;
  color: var(--dark);
  font-size: 1.1rem;
}

.hero .button {
  position: relative;

  padding: 0 2rem;
  height: 5.6rem;
  width: 22rem;
  border: 0;
  border-radius: 99rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--purple);
  box-shadow: 0 1rem 2.5rem -1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  overflow: hidden;
  cursor: pointer;
}
.hero .button .ripple {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgba(248, 69, 159, 0.2);

  opacity: 0;
  pointer-events: none;
  transform-origin: 0% 0%;

  animation-timing-function: infinite;
  animation: rippleAnimation 1.25s;
}
@keyframes rippleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
  }
}
.our-features {
    background-color: var(--purple);
}
.our-features .section-title-style {
    font-weight: bold;
    text-align: center;
    padding: 3rem;
    color: var(--white);
}
.our-features p {
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--cyan);
}
.our-features .cardbox {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    /* padding: 2rem; */
    padding-bottom: 4rem;
}   
.our-features .feature-card {
    width: 22rem;
    height: 24rem;
    display: inline-block;
    background-color: var(--indigo);
    margin: 0.6rem;
    border-radius: 10px;
}
.our-features .feature-card img {
    padding: 2rem 45%;
}
.token-sale {
background-color: #f3f2fc;
}
.token-sale .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}
.token-sale .paragraph-text-style {
  color: var(--dark);
  text-align: center;
  font-size: 3rem;
}
.token-sale .container ul {
  position: absolute;
  top: 9.2rem;
  counter-reset: digits 0;
}
.token-sale .container li {
  list-style-type: none;
  font-size: 1.3rem;
  line-height: 2;
  font-style: bold;
  font-weight: 900;
}
.token-sale .container li:before {
  counter-increment: digits;
  content: counter(digits);
	position: absolute;
  font-size: 1rem;
	left: -50px;
	color: var(--white);
	background-color: var(--indigo);
	border-radius: 100%;
	padding: 0.2rem 0.7rem;
}
/*
* ROADMAP CSS
*/

.roadmap-section .section-title-style {
  color: var(--white);
}
.roadmap-section .paragraph-text-style {
  color: var(--white);
  text-align: center;
  font-size: 3rem;
}
.roadmap-section {
  white-space: nowrap;
  overflow-x: hidden;
  background: var(--indigo);
  padding: 50px 0;
}
.roadmap-section .container {
  width: 70%;
}
.roadmap-section .timeline_container {
  font-size: 0;
  /* width: 100vw; */
  padding: 300px 100px;
  
  transition: all 1s;
}

.timeline_container li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  /* margin: 1.5rem; */
  width: 200px;
  height: 3px;
  background: #fff;
}

.timeline_container:last-child {
  width: 280px;
}

.timeline_container:not(:first-child) {
  margin-left: 14px;
}
.timeline_container li div {
  position: absolute;
  left: calc(40%);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--dark);
  background: var(--white);
}
.timeline_container li time {
  color: var(--teal);
  font-weight: bold;
}
.timeline_container li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline_container li:nth-child(odd) div {
  top: -1.5rem;
  transform: translateY(-100%);
}

.timeline_container li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline_container li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline_container li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}
.timeline_container li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(40% - 4px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}
.timeline_container time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
  .how-to-buy {
    background-image: url(img/how-to-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
    background-attachment: fixed;
  }
  .how-to-buy .overlay {
    background-color: var(--indigo);
    opacity: 0.9;
  }
  .how-to-buy .container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }
  .how-to-buy .section-title-style {
    color: var(--white);
  }
  .how-to-buy .paragraph-text-style {
    color: var(--cyan);
    text-align: center;
    font-size: 3rem;
  }
  .how-to-buy .text-container {
    counter-reset: digits;

  }
  .how-to-buy .numeral-text-style {
    margin-top: 1.5rem;
    color: var(--white);
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 900;
    position: relative;
  }
  .how-to-buy .numeral-text-style::before{
    position: absolute;
    left: -3.1rem;
    top: -0.4rem;
    counter-increment: digits;
    content: counter(digits);
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 100%;
    border: 2px solid white;
  }
  .how-to-buy img {
    width: 30rem;
    border-radius: 10px;
    /* padding-bottom: 3rem; */
  }
  .contact-form {
    background-color: var(--indigo);
  }
  .contact-form .section-title-style {
    color: var(--white);
    font-size: 5rem;
  }
  .contact-form .paragraph-text-style {
    color: var(--white);
    text-align: center;
    font-size: 3rem;
  }
  .contact-form .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contact-form .container .address-box {
    display: inline-block;
    margin-top: 50px;
  }
  .contact-form .container .address-box .phone {
    margin: 2rem;
    position: relative;
  }
  .contact-form .container .address-box .phone::before {
    content: " ";
    background-image: url(./img/phone-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -70px;
    top: 10px;
    width: 200px;
    height: 400px;
  }
  .contact-form .container .address-box .mail {
    margin: 2rem;
    position: relative;
  }
  .contact-form .container .address-box .mail::before {
    content: " ";
    background-image: url(./img/mail-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -70px;
    top: 10px;
    width: 200px;
    height: 100px;
  }
  .contact-form .container .address-box .contact-text {
    font-size: 1.4rem;
    color: var(--white);
    line-height: 1.5;
    font-weight: 900;
    text-decoration: none;
  }
  .contact-form .container .orderform-container {
    width: 50%;
    margin: 3rem;
  }
  .contact-form .container .form-one {
    display: inline-flex;
    justify-content: space-between;
    /* margin: 0.5rem; */
  }
  .contact-form .container .form-one p {
    margin: 0.6rem 0rem;
  }
  .contact-form .container .form-one input {
    width: 15rem;
    height: 2rem;
    background-color: var(--white);
    border: 2px solid var(--indigo);
    border-radius: 0.5rem;
  }
  .contact-form .container .form-one input[type="email"] {
    margin-left: 1.5rem;
  }
  input[placeholder] {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.3rem;
  }
  textarea[placeholder] {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0.3rem;
  }
  input[type="submit"] {
    max-width: 250px;
    max-height: 100px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--dark);
    /* text-align: center; */
    background-color: var(--white);
    border-radius: 0.5rem;
    border: none;
    cursor:pointer;   
  }
  .contact-form .container .form-two p {
    padding: 0.6rem 0rem;
  }
  .contact-form .container .form-two input {
    width: 32.4rem;
    height: 2rem;
    background-color: var(--white);
    border: 2px solid var(--indigo);
    border-radius: 0.5rem;
  }
  .contact-form .container .form-two textarea {
    width: 32.4rem;
    height: 9rem;
    background-color: var(--white);
    border: 2px solid var(--indigo);
    border-radius: 0.5rem;
  }
  .footer {
    background-color: var(--gray-dark);
  }
  .footer img {
    width: 10rem;
    height: 10rem;
    margin: 0 0.5rem 0 3rem;
    padding: 1rem 0;
  }

