@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Roboto:wght@100&display=swap');

:root {
	--blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
* {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}
html,
body {
	margin: 0 auto;
}
li.
p {
	var (--main-color);
}

/*стили, применяемые по всему сайту, в т.ч шрифты и карточки*/
.container {
    max-width: 1170px;
	  margin: 0 auto;
    padding: 0 auto;
}
.logo-name-style {
  display: block;
	color: var(--gray-dark);
	font-family: Roboto, sans-serif;
	font-size: 2.625rem;
	font-style: bold;
	font-weight: 1000;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 2rem;
}
.head-text-style {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 4rem;
    padding-bottom: 2rem;
    line-height: 5rem;
    font-weight: 1000;
    font-style: bold;
    text-transform: uppercase;
}
.section-title-style {
    line-height: 1.5;
    color: var(--dark);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
}
.section-about-title-style {
  line-height: 1.5;
  color: var(--dark);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.paragraph-text-style {
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    letter-spacing: 0px;
    padding-bottom: 2rem;
}
.cardname-text-style {
    font-size: 20px;
    padding:  0 1.5rem;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: var(--white);
}
.desription-block-style {
    display: block;
    width: 80%;
    padding: 1.5rem;
    line-height: 1.4;
    color: var(--white);
}
.text-container {
  width: 40%;
  padding-top: 60px;
  padding-right: 150px;
}

/*стили применяемые к разделам*/
header {
	position: fixed;
	z-index: 5;
	width: 100%;
  margin: auto;
	background-color: var(--white);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem 0 3.4375rem;
}

.header .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-menu li {
    list-style-type: none;
    margin-right: 20px;

}
.header li a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0, 18px;
    color: var(--grey-dark);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
}
.header li a:hover {
    /* border-bottom: 0.4rem solid var(--indigo); */
    background-color: var(--purple);
    color: var(--white);
    transition: 500ms;
    border-radius: 0.5rem;
    /* transform: scale(1.25); */
    font-size: 1.1rem;
}

.hero {
  background-color: var(--indigo);
  background-image: url(img/banner-bg.jpg);
	background-position: 50%, 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.hero .container {
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero .container .text-container{
    padding-top: 300px;
    padding-bottom: 300px;
}
.hero .text-container .paragraph-text-style {
  font-size: 1.6rem;
  line-height: 1.4;
}
.hero .container .svg-container {
    width: 600px;
    height: 514px;
    padding-top: 6.1rem;
}
.image-anim.is-animated {
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-100px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.about-us {
    background-color: var(--light);
}
.about-us .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 0;
}
.about-us img {
    display: inline-block;
    width: 585px;
    height: 607px;
}
.about-us .text-container p {
  margin-top: 1.5rem;
  color: var(--dark);
  font-size: 1.1rem;
}

.hero .button {
  position: relative;

  padding: 0 2rem;
  height: 5.6rem;
  width: 22rem;
  border: 0;
  border-radius: 99rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--purple);
  box-shadow: 0 1rem 2.5rem -1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  overflow: hidden;
  cursor: pointer;
}
.hero .button .ripple {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgba(248, 69, 159, 0.2);

  opacity: 0;
  pointer-events: none;
  transform-origin: 0% 0%;

  animation-timing-function: infinite;
  animation: rippleAnimation 1.25s;
}
@keyframes rippleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
  }
}
.our-features {
    background-color: var(--purple);
}
.our-features .section-title-style {
    font-weight: bold;
    text-align: center;
    padding: 3rem;
    color: var(--white);
}
.our-features p {
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--cyan);
}
.our-features .cardbox {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    /* padding: 2rem; */
    padding-bottom: 4rem;
}   
.our-features .feature-card {
    width: 22rem;
    height: 24rem;
    display: inline-block;
    background-color: var(--indigo);
    margin: 0.6rem;
    border-radius: 10px;
}
.our-features .feature-card img {
    padding: 2rem 45%;
}
.token-sale {
background-color: #f3f2fc;
}
.token-sale .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}
.token-sale .paragraph-text-style {
  color: var(--dark);
  text-align: center;
  font-size: 3rem;
}
.token-sale .container ul {
  position: absolute;
  top: 9.2rem;
}
.token-sale .container li {
  list-style-type: none;
  font-size: 1.3rem;
  line-height: 2;
  font-style: bold;
  font-weight: 900;
}
.token-sale .container li::before {
  content: counter(orderpunkt);
	position: absolute;
	left: -50px;
	font-size: 0.3rem;
	font-weight: 300;
	color: var(--indigo);
	background-color: var(--indigo);
	border-radius: 1rem;
	padding: 0.8rem;
}
/*
* ROADMAP CSS
*/

#roadmap-section .paragraph-text-style {
  padding: 2rem;
  text-align: center;
  color: var(--dark);
  font-size: 3rem;
}
#roadmap__container {
    position: relative;
    margin-bottom: 3rem;
  }
  
  #roadmap {
    padding: 2.5rem;
    position: relative;
    margin: 20px auto 0 auto;
    list-style: none;
  }
  
  #roadmap #endpoint {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #ffd602;
  }
  
  #roadmap::before {
    content: "";
    background-color: #252525;
    height: calc(100% - 20px);
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate3D(-50%, 0, 0);
    z-index: 0;
    width: 2px;
  }
  
  #roadmap .__year {
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 50px;
    width: 50px;
    position: relative;
    z-index: 3;
    background: #fff;
    border: 1px solid #ffd600;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  #roadmap .__item {
    width: 100%;
    position: relative;
  }
  
  #roadmap .__item .text {
    width: 300px;
    padding: 20px;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4),
      2px 4px 9px 5px rgba(0, 0, 0, 0.09);
  }
  
  #roadmap .__item .text b {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: #252525;
  }
  
  #roadmap .__item .text span {
    color: #a7a7a7;
    font-size: 1.13em;
  }
  
  #roadmap .__item .text hr {
    margin: 20px 0;
  }
  
  #roadmap .__item .text .__ongoing {
    display: table;
    margin-top: 10px;
    background: rgb(134, 232, 254);
    clear: both;
    padding: 8px;
    color: #252525;
  }
  
  #roadmap .__item.__left {
    text-align: left;
    transform: translateZ(0) translateX(-200%);
    transition: transform 0.6s ease;
  }
  
  #roadmap .__item.__right {
    text-align: right;
    transform: translateZ(0) translateX(200%);
    transition: transform 0.6s ease;
  }
  
  #roadmap .__item.__left .text {
    border-right: 4px solid #ffd600;
  }
  
  #roadmap .__item.__right .text {
    border-left: 4px solid #ffd600;
  }
  
  #roadmap .__item.__left .connector,
  #roadmap .__item.__right .connector {
    width: 0;
    transition: width 0.4s ease;
    will-change: width;
  }
  
  #roadmap .__item.__left .connector {
    position: absolute;
    background-color: #252525;
    height: 2px;
    bottom: 50%;
  }
  
  #roadmap .__item.__right .connector {
    position: absolute;
    background-color: #252525;
    height: 2px;
    bottom: 50%;
  }
  
  #roadmap .__item.__left .connector::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border: 4px solid #ffd600;
    background-color: #fff;
    border-radius: 50%;
    left: -12px;
    transform: translate3d(0, -50%, 0);
  }
  
  #roadmap .__item.__left .connector::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid #ffd600;
    background-color: #fff;
    border-radius: 50%;
    right: -6px;
    z-index: 3;
    transform: translate3d(0, -50%, 0);
  }
  
  #roadmap .__item.__right .connector::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border: 4px solid #ffd600;
    background-color: #fff;
    border-radius: 50%;
    right: -12px;
    transform: translate3d(0, -50%, 0);
  }
  
  #roadmap .__item.__right .connector::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid #ffd600;
    background-color: #fff;
    border-radius: 50%;
    left: -6px;
    z-index: 3;
    transform: translate3d(0, -50%, 0);
  }
  
  #roadmap .__goals .__the_goals {
    display: block;
    width: 300px;
    margin: 100px auto 50px auto;
    padding: 20px 0;
    background: #ffda33;
    text-align: center;
    position: relative;
    z-index: 3;
  
    opacity: 0;
    transition: opacity 0.6s ease;
  }
  #roadmap .__goals .__the_goals:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    border-bottom: 25px solid #ffda33;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  #roadmap .__goals .__the_goals:after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    border-top: 25px solid #ffda33;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.5));
  }
  #roadmap .__goals .__the_goals b {
    display: block;
    margin-top: 65px;
    font-size: 1.4em;
  }
  #roadmap .__goals .__the_goals ul {
    padding: 0 50px;
    text-align: left;
    font-size: 1.2em;
  }
  #roadmap .__goals .__the_goals ul li {
    padding: 0;
    margin: 5px 0;
    list-style-type: disc;
  }
  #roadmap .__goals .__coin {
    position: absolute;
    width: 150px;
    left: 50%;
    top: -75px;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 10px rgba(247, 255, 255, 0.3));
  
    z-index: 4;
  
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  @media (max-width: 850px) {
    #roadmap::before {
      left: 0;
      top: 50px;
      height: calc(100% - 50px);
    }
  
    #roadmap #endpoint {
      left: 0;
    }
  
    #roadmap .__year {
      display: table;
      margin: 0;
    }
  
    #roadmap .__item {
      display: inline-block;
    }
  
    #roadmap .__item .connector {
      width: 23px;
      left: 3px;
      z-index: 3;
    }
  
    #roadmap .__item .text {
      width: 75%;
      float: right;
      margin: 30px 0;
    }
  
    #roadmap .__item.__left .text {
      border-right: none;
      border-left: 4px solid #ffd600;
    }
  
    #roadmap .__item.__right {
      text-align: left;
      transform: translateX(0);
    }
  
    #roadmap .__item.__left {
      transform: translateX(0);
    }
  
    #roadmap .__item.__left .connector {
      transform: rotateY(180deg);
    }
  
    #roadmap .__item.__right .connector::after {
      left: -9px;
    }
  
    #roadmap .__item.__right .connector::before {
      right: -8px;
    }
  
    #roadmap .__item.__left .connector::before {
      left: -8px;
    }
  
    #roadmap .__item.__left .connector::after {
      right: -9px;
    }
    #roadmap .__goals > .__the_goals,
    #roadmap .__goals .__coin {
      opacity: 1;
    }
    #roadmap .__goals .__coin {
      top: 20px;
    }
    #roadmap .__goals .__prettify {
      position: absolute;
      width: 100%;
      background: #252525;
      height: 100px;
      top: 50%;
    }
  }
  .how-to-buy {
    background-image: url(img/how-to-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
    background-attachment: fixed;
  }
  .how-to-buy .overlay {
    background-color: var(--indigo);
    opacity: 0.9;
  }
  .how-to-buy .container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }
  .how-to-buy .section-title-style {
    color: var(--white);
  }
  .how-to-buy .paragraph-text-style {
    color: var(--cyan);
    text-align: center;
    font-size: 3rem;
  }
  .how-to-buy .numeral-text-style {
    margin-top: 1.5rem;
    color: var(--white);
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 900;
  }
  .how-to-buy img {
    width: 30rem;
    border-radius: 10px;
  }
  .footer {
    background-color: var(--gray-dark);
  }
  .footer img {
    width: 10rem;
    height: 10rem;
    margin: 0 0.5rem 0 3rem;
    padding: 1rem 0;
  }

